@media screen and (min-width: 480px) {

.banner{
	margin-top: 6%;
	display:block;
	width:100%;
	height:auto;
}
section{
	width:40%;
	margin-top: 2%;
  }
  
  p{
	display:block;
  }
 .topnav a {
	display:block;  
  }
  .topnav a:not(:first-child) {display: block;}
  .topnav a.icon {display: none;}

.divform {
/*	width: 50%;
    padding-left: 20%; 
    padding-right: 25%;
    padding-top: 5%;
    text-align: left;
    padding-top: 70px;
	background: #f3bf5c;
*/
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: left;
	background: #467ca9;
    border-radius: 2%;
    padding: 2%;

}
footer h2 {
	display:block;
  }
footer img {
	display:none;
  }
.facebook {
	background: #2929e1b3;

}

@media screen and (min-width: 800px) {
	

/*@media screen and (min-width:1000px) { */
/* GLOBAL STYLES */
.banner{
	margin-top: 3%;
}

section {
  font-size: 1em;
  width: 30%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
  color: white;
  border-radius: 50px;
}

.section4 {
   width: 40%;
}
.section5 {
   width: 40%;
}

}