body {
  margin:0;
  padding:0;
  background: #eee;
}
header {
  background: <img src="imgs/money.jpg" alt="money">;
  color: #444;
  text-align: center;
  height: 180px;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
}
h2 {
  font-size: 1.5em;
}
main {
  margin: 0 auto;
  background: #eee;
  text-align: center;
  padding: 2px;
}
.outwrap{
	width:100%
  }
  section{
  width:95%;
  font-size: 1em;
  margin: 5em 1% 1em 1%;
  display: inline-block;
  color: white;
  border-radius: 20px;
  }
  section:hover {

  transition: all 200ms ease-in;
  transform: scale(1.5);
}
.section1 {
	background: #cb2025;
}
.section2 {

}
.section3 {
	background: #97bf0d;
}
.section4 {

}
.section5 {
   background: #4040d1;
}
.section6 {
   background: #e91e63c4;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

  p{
	display:none;
  }
  .topnav a {
	display:none;  
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: unset;
    display: block;
  }
  
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .link{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
    #map {
  height: 400px;
  width: 100%;
  margin-left:0px;
}
.banner{
	width:100%;
	height:auto;
}
.banner2{
	width:100%;
	height:auto;
	border-radius: 20px;
}
.thumbnail{
	width:95%;
	height:auto;
	margin:3%;
}
a {
  text-decoration: none;
  color: snow;
}
.footer {
	height: 50px;
}
footer{
	padding-top: 3%;
    text-align: center;
    background: #ccc;
    color: #fff;
}

